HELP.md
target/
build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# ============ Pastas temporárias / auxiliares ============
.*-backup/
.tmp/
.tmp-*/
.temp/

.spring-boot-devtools.properties
spring-*.log

logs/
*.log
*.hprof
*.seed

.env
.env.local
.env.*.local
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

# ============ Bancos locais (futura persistência) ============
# H2 / Derby em arquivo
*.h2.db
*.mv.db
*.trace.db
data/
db-data/
postgres-data/



# ============ IntelliJ IDEA ============
.idea
*.iws
*.iml
*.ipr

# ============ NetBeans ============
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ============ VS Code ============
.vscode/
